<!DOCTYPE html>
<html lang="en">
<head>
  {{ include "partials/head-adaptive.vto" }}
</head>
<body>
  {{ include "partials/header.vto" }}
  
  <main class="container">
    {{ content }}
  </main>
  
  {{ include "partials/footer.vto" }}
</body>
</html>